# package directories
node_modules
jspm_packages

# dynamodb local
.dynamodb

# Serverless directories
.serverless

# webpack directories
.webpack

# yarn.lock file
yarn.lock

#swagger directories
swagger